In [71]:
from ucimlrepo import fetch_ucirepo
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

In [72]:
data = pd.read_csv('data/crx.data')
data

     b  30.83       0  u  g   w   v  1.25  t t.1  01  f g.1  00202  0.1  +
0    a  58.67   4.460  u  g   q   h  3.04  t   t   6  f   g  00043  560  +
1    a  24.50   0.500  u  g   q   h  1.50  t   f   0  f   g  00280  824  +
2    b  27.83   1.540  u  g   w   v  3.75  t   t   5  t   g  00100    3  +
3    b  20.17   5.625  u  g   w   v  1.71  t   f   0  f   s  00120    0  +
4    b  32.08   4.000  u  g   m   v  2.50  t   f   0  t   g  00360    0  +
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  .. ..  ..    ...  ... ..
684  b  21.08  10.085  y  p   e   h  1.25  f   f   0  f   g  00260    0  -
685  a  22.67   0.750  u  g   c   v  2.00  f   t   2  t   g  00200  394  -
686  a  25.25  13.500  y  p  ff  ff  2.00  f   t   1  t   g  00200    1  -
687  b  17.92   0.205  u  g  aa   v  0.04  f   f   0  f   g  00280  750  -
688  b  35.00   3.375  u  g   c   h  8.29  f   f   0  t   g  00000    0  -

[689 rows x 16 columns]

In [73]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   b       689 non-null    object
 1   30.83   689 non-null    object
 2   0       689 non-null    float64
 3   u       689 non-null    object
 4   g       689 non-null    object
 5   w       689 non-null    object
 6   v       689 non-null    object
 7   1.25    689 non-null    float64
 8   t       689 non-null    object
 9   t.1     689 non-null    object
 10  01      689 non-null    int64
 11  f       689 non-null    object
 12  g.1     689 non-null    object
 13  00202   689 non-null    object
 14  0.1     689 non-null    int64
 15  +       689 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 430.9 KB

In [74]:
new_cols = ['Gender', 'Age', 'Debt', 'Married', 'BankCustomer', 'EducationLevel', 'Ethnicity', 'YearsEmployed', 'PriorDefault', 'Employed', 'CreditScore', 'DriversLicense', 'Citizen', 'ZipCode', 'Income']
rename_dict = {old: new for old, new in zip(data.columns, new_cols)}
data.rename(columns=rename_dict, inplace=True)

In [75]:
data

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,+
0,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,+
1,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,+
2,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,+
3,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+
4,b,32.08,4.000,u,g,m,v,2.50,t,f,0,t,g,00360,0,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,b,21.08,10.085,y,p,e,h,1.25,f,f,0,f,g,00260,0,-
685,a,22.67,0.750,u,g,c,v,2.00,f,t,2,t,g,00200,394,-
686,a,25.25,13.500,y,p,ff,ff,2.00,f,t,1,t,g,00200,1,-
687,b,17.92,0.205,u,g,aa,v,0.04,f,f,0,f,g,00280,750,-
688,b,35.00,3.375,u,g,c,h,8.29,f,f,0,t,g,00000,0,-

In [76]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          689 non-null    object
 1   Age             689 non-null    object
 2   Debt            689 non-null    float64
 3   Married         689 non-null    object
 4   BankCustomer    689 non-null    object
 5   EducationLevel  689 non-null    object
 6   Ethnicity       689 non-null    object
 7   YearsEmployed   689 non-null    float64
 8   PriorDefault    689 non-null    object
 9   Employed        689 non-null    object
 10  CreditScore     689 non-null    int64
 11  DriversLicense  689 non-null    object
 12  Citizen         689 non-null    object
 13  ZipCode         689 non-null    object
 14  Income          689 non-null    int64
 15  +               689 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.3+ KB

In [77]:
data['ZipCode'].nunique()

170

In [78]:
data['ZipCode'].value_counts()

ZipCode
00000    132
00120     35
00200     35
00160     34
00080     30
        ...
00231      1
00309      1
00416      1
00465      1
00256      1
Name: count, Length: 170, dtype: int64

In [79]:
to_float = ['Age', 'Debt','YearsEmployed']
for col in to_float:
    data[col] = data[col].replace('?', np.nan)
    data[col] = data[col].astype('float')

In [80]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          689 non-null    object
 1   Age             677 non-null    float64
 2   Debt            689 non-null    float64
 3   Married         689 non-null    object
 4   BankCustomer    689 non-null    object
 5   EducationLevel  689 non-null    object
 6   Ethnicity       689 non-null    object
 7   YearsEmployed   689 non-null    float64
 8   PriorDefault    689 non-null    object
 9   Employed        689 non-null    object
 10  CreditScore     689 non-null    int64
 11  DriversLicense  689 non-null    object
 12  Citizen         689 non-null    object
 13  ZipCode         689 non-null    object
 14  Income          689 non-null    int64
 15  +               689 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 400.0 KB

In [81]:
data['Married'].value_counts()

Married
u    518
y    163
?      6
l      2
Name: count, dtype: int64

In [82]:
data.describe()

              Age        Debt  YearsEmployed  CreditScore         Income
count  677.000000  689.000000     689.000000   689.000000     689.000000
mean    31.569261    4.765631       2.224819     2.402032    1018.862119
std     11.966670    4.978470       3.348739     4.866180    5213.743149
min     13.750000    0.000000       0.000000     0.000000       0.000000
25%     22.580000    1.000000       0.165000     0.000000       0.000000
50%     28.420000    2.750000       1.000000     0.000000       5.000000
75%     38.250000    7.250000       2.625000     3.000000     396.000000
max     80.250000   28.000000      28.500000    67.000000  100000.000000

In [83]:
for col in data.columns:
    if data[col].dtype == 'object':
        mode_val = data[col].value_counts().index[0]
        data[col]=data[col].fillna(mode_val, inplace=True)

C:\Users\ibuko\AppData\Local\Temp\ipykernel_5432\806953997.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col]=data[col].fillna(mode_val, inplace=True)
C:\Users\ibuko\AppData\Local\Temp\ipykernel_5432\806953997.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col]=data[col].fillna(mode_val, inplace=True)
C:\Users\ibuko\AppData\Local\Temp\ipykernel_5432\806953997.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col]=data[col].fillna(mode_val, inplace=True)
C:\Users\ibuko\AppData\Local\Temp\ipykernel_5432\806953997.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col]=data[col].fillna(mode_val, inplace=True)
C:\Users\ibuko\AppData\Local\Temp\ipykernel_5432\806953997.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col]=data[col].fillna(mode_val, inplace=True)
C:\Users\ibuko\AppData\Local\Temp\ipykernel_5432\806953997.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col]=data[col].fillna(mode_val, inplace=True)
C:\Users\ibuko\AppData\Local\Temp\ipykernel_5432\806953997.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col]=data[col].fillna(mode_val, inplace=True)
C:\Users\ibuko\AppData\Local\Temp\ipykernel_5432\806953997.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col]=data[col].fillna(mode_val, inplace=True)
C:\Users\ibuko\AppData\Local\Temp\ipykernel_5432\806953997.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col]=data[col].fillna(mode_val, inplace=True)
C:\Users\ibuko\AppData\Local\Temp\ipykernel_5432\806953997.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col]=data[col].fillna(mode_val, inplace=True)
C:\Users\ibuko\AppData\Local\Temp\ipykernel_5432\806953997.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col]=data[col].fillna(mode_val, inplace=True)

In [84]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          0 non-null      object
 1   Age             677 non-null    float64
 2   Debt            689 non-null    float64
 3   Married         0 non-null      object
 4   BankCustomer    0 non-null      object
 5   EducationLevel  0 non-null      object
 6   Ethnicity       0 non-null      object
 7   YearsEmployed   689 non-null    float64
 8   PriorDefault    0 non-null      object
 9   Employed        0 non-null      object
 10  CreditScore     689 non-null    int64
 11  DriversLicense  0 non-null      object
 12  Citizen         0 non-null      object
 13  ZipCode         0 non-null      object
 14  Income          689 non-null    int64
 15  +               0 non-null      object
dtypes: float64(3), int64(2), object(11)
memory usage: 86.3+ KB

In [85]:
data.isnull().sum()

Gender            689
Age                12
Debt                0
Married           689
BankCustomer      689
EducationLevel    689
Ethnicity         689
YearsEmployed       0
PriorDefault      689
Employed          689
CreditScore         0
DriversLicense    689
Citizen           689
ZipCode           689
Income              0
+                 689
dtype: int64

In [86]:
data['Age'].info

<bound method Series.info of 0      58.67
1      24.50
2      27.83
3      20.17
4      32.08
       ...
684    21.08
685    22.67
686    25.25
687    17.92
688    35.00
Name: Age, Length: 689, dtype: float64>

In [87]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
print(data.info())
for col in data.columns:
    if data[col].dtypes == 'object':
        print(col)
        data[col]=le.fit_transform(data[col])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          0 non-null      object
 1   Age             677 non-null    float64
 2   Debt            689 non-null    float64
 3   Married         0 non-null      object
 4   BankCustomer    0 non-null      object
 5   EducationLevel  0 non-null      object
 6   Ethnicity       0 non-null      object
 7   YearsEmployed   689 non-null    float64
 8   PriorDefault    0 non-null      object
 9   Employed        0 non-null      object
 10  CreditScore     689 non-null    int64
 11  DriversLicense  0 non-null      object
 12  Citizen         0 non-null      object
 13  ZipCode         0 non-null      object
 14  Income          689 non-null    int64
 15  +               0 non-null      object
dtypes: float64(3), int64(2), object(11)
memory usage: 86.3+ KB
None
Gender
Married
BankCustomer
EducationLevel
Ethnicity
PriorDefault
Employed
DriversLicense
Citizen
ZipCode
+

In [88]:
#https://www.kaggle.com/code/muhammadahmed68/credit-card-approval-predictions-85-accuracy